body {
  background-color: #494a53;
  color: #e4e4f0;
}

a {
  color: #b4c8de;
}
a:hover {
  color: #c9b3d9;
}

.box {
  background-color: #3b3a43;
  border: 2px solid #c9b3d9;
  border-radius: 10px;
  padding: 15px;
}

.button {
  background-color: #bdd4c5;
  color: #3b3a43;
  border: none;
  padding: 8px 14px;
  border-radius: 10px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  text-align: center;
}

.main-content {
  display: flex;
}

.left-box {
  display: flex;
  flex-direction: column;
}

.center-box {
  display: flex;
  flex-direction: column;
}

.right-box {
  display: flex;
  flex-direction: column;
}