body {
  background-image: url('images/bggrid-transp.png');
  background-repeat: repeat;
  background-color: #f5f3eb;
  background-position: top left;
}

a {
  color: #b4c8de;
}
a:hover {
  color: #c9b3d9;
}

.box {
  background-color: #3b3a43;
  border: 2px solid #c9b3d9;
  border-radius: 10px;
  padding: 15px;
}

.button {
  background-color: #bdd4c5;
  color: #3b3a43;
  border: none;
  padding: 8px 14px;
  border-radius: 10px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  text-align: center;
  max-width: 80vw;
  margin: 0 auto;
}

.main-content {
  display: flex;
  background-color: red;
  flex-grow: 1;
  border-radius: 10px 10px 0 0;
  gap: 10px;
  padding: 10px;
}

.left-box {
  display: flex;
  flex-direction: column;
  background-color: blue;
  flex-basis: 35vh;
  border-radius: 10px;
}

.center-box {
  display: flex;
  flex-direction: column;
  background-color: green;
  flex-grow: 1;
  border-radius: 10px;
}

.right-box {
  display: flex;
  flex-direction: column;
  background-color: chocolate;
  flex-basis: 35vh;
  border-radius: 10px;
}

.header {
  background-color: coral;
}

.footer {
  background-color: blueviolet;
  border-radius: 0 0 10px 10px;
}

a {
  text-decoration: none;
  padding: 10px;
}

ul {
  list-style: none;
  padding: 0px;
  margin: 0;
}